:root {
  --color-primary: #201F24;
  --color-accent: #007bff;
  --color-light-gray: #F2F2F2;
  --padding-base: 1rem;
  --font-body: 'Public Sans', sans-serif;
  --color-black: #201F24;
  --color-white: #ffffff;
  --color-gray: #ccc;
  --color-gray-dark: #696868;
  --container-radius: 1rem;
  --input-radius: 8px;
  --font-size-base: 14px;
  --label-font: 0.85em;
  --color-positive: #277C78;
  --color-gray-box: #F8F4F0;
  --placeholder-color: #98908B;
  --beige-color: #F8F4F0;
  --color-red: #C94736;

}

body {
   background-color: var(--beige-color);
   color:var(--color-black);
   font-size: clamp(12px, 1.2vw, 14px);
   font-family: var(--font-body);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#root {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  position: relative;

}
.right {
  text-align: right;
}
.title-font {
  font-size: 2.285em;
  font-weight: bold;
}
.bold {
  font-weight: 700;
}
.card .font-base {
 color: var(--color-primary);
}
.card .gray-500 {
  color: var(--color-gray-dark);
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
}
img {
  max-width: 100%;
}
p{
  color: var(--color-gray-dark);
  font-size: 1em;
}
h2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}
h5 {
font-size: 0.75rem;
font-weight: 400;
margin: 0;
}
h4 {
  font-size: var(--font-size-base);
  font-weight: 700;
  margin: 0;
  }

.center-text {
  text-align: center;
}
.capitalize {
  text-transform: capitalize;
}
.text-right {
  text-align: right;
}
.mb-2 {
  margin-bottom: 1.5rem;
}
.m-2 {
  margin: 1.2em 0 0.5em 0;
}
.text-right {
  text-align: right;
}
.main-content {
  width: 100%;
  padding: 0 3em;
}



label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 700;
  text-align: left;
  color: var(--color-gray-dark);
  text-transform: capitalize;
  font-size: var(--label-font);
}
input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1.2rem;
  border: 1px solid #ccc;
  border-radius: var(--input-radius);
  font-size: 1em;

}
input::placeholder {
  color: var(--placeholder-color);
}
button {
  width: 100%;
  /* background-color: #1e1e1e;
  color: white; */
  border: none;
  border-radius: var(--input-radius);
  cursor: pointer;
}

.brn-primary {
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5;
  padding: 1rem 0;
}
button:hover {
  background-color: #696868;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* #sidebar */
.page-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 100vh;

}


/* card desing */

.card {
  border-radius: var(--input-radius);
  padding: 1em 2em;
  text-align: left;
  width: 100%;
  margin-bottom: 2rem;
}
.theme-color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  margin-right: 1rem;
}
.theme-color-line {
  width: 4px;
  height: 43px;
  display: inline-block;
  border-radius: var(--input-radius);
}
.text-body h5 {
  color: var(--color-gray-dark);
  margin: 1em 0;
}
.card-header-right-text {
  font-size: 16px;
  position: relative;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}
.card-body {
  width: 100%;
  margin-bottom: 1rem;
}
.card-body p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-primary);
}
/* .card-body h6 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-primary);
  margin:0
} */
.progress-bar {
  width: 100%;
  background-color: var(--beige-color);
  border-radius: 4px;
}
.progress-bar-fill {
  height: 100%;
  background-color: var(--color-accent);
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}
.progress-label {
  color: var(--color-primary);
    font-weight: 700;
    font-size: 0.8rem;
}
.label-target{
  font-weight: 400;
}
.progress-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}
.progress-bar-fill-new {
  height: 8px;
  margin-top: -8px;
  border-right: 2px solid white;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
}
.card-btn-container {
  display: flex;
  justify-content: SPACE-BETWEEN;
  width: 100%;
  gap: 2rem;
  margin-top: 3rem;
}

.card-btn-container button {
  background-color: var(--beige-color);
  padding: 1.3rem;
  color:var(--color-primary);
  font-weight: 700;
  font-size: 1rem;
  max-width: 100%;
}
.card-btn-container button.black-btn {  
  background-color: var(--color-primary);
  color: white;
}
/* modals */
/* styles */
.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex; justify-content: center; align-items: center;
  z-index: 1000;
}
.modal {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 560px;
  width: 100%;
  position: relative;
  text-align: left;
}
.modal h1 {
  margin-bottom: 1rem;
}
 .modal button.close-btn {
  position: absolute;
  width: 26px;
  height: 26px;
  background: none;
  right: 2rem;
  padding: 0;
  top: 4em;
}
modal p {
  color: var(--color-primary);
  margin-top: 1rem;
  line-height: 1.5;
}
.modal form {
  margin-top: 2rem;
}
.modal .theme-color { 
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  margin-right: 1rem;
}
button.big-btn {
  width: 100%;
  max-width: 100%;
  margin-top: 1.5rem;
}


/* table style transaction page */

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table th, .table td {
  border-bottom: 1px solid #F2F2F2;
  padding: 1rem 0;
  width: 50%;
}
.transaction-table td, .transaction-table th {
  border-bottom: 1px solid rgba(105, 104, 104, 0.15)
}

.table tbody tr:hover {
  background-color: var(--color-light-gray);
  transition: background-color 0.2s;
}
.table h4.positive, td.positive h4 {
  color: var(--color-positive);
}
.table h4.negative {
  color: var(--color-primary);
}
td.negative h4 {
  font-weight: 700;
}
.table h5 {
  color: var(--color-gray-dark);
}
.table tr:last-child td, .budgets-list li{
  border: none;
}

/* dropdown menu */
.dropdown-menu {
  position: absolute;
  background: white;
  border: 1px solid #F2F2F2;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;
  width: 145px;
  border-radius: 8px;
  left: -6.5em;
  top: 2em;
}
button.dropdown-btn {
  background: white;
  color: #b3b3b3;
  font-size: 1.5rem;
  border-radius: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0.5rem;
}
li, li button.default-btn {
  color: var(--color-primary);
  font-weight: 400;
  padding: 0.4rem 0.2rem;
  border-bottom: 1px solid #F2F2F2;
  background: none;
  text-align: left;
}
li button.default-btn {
  border-bottom: none;
}
li:last-child, li:last-child button {
  border-bottom:none;
  color: var(--color-red);
}
li button:hover, button.open_modal {
  background: none;
}
.dropdown-menu .open_modal {
  text-align: left;
}
.modal .delete-btn.big-btn {
  background-color: var(--color-red);
}
h1 {
  color: var(--color-primary);
  font-size: 2.285em;
}

.text h1, .text p, .text-body-right p, .text-body-right h1{
  margin:0;
  margin-top: 0.5rem;
}
.modal li button.delete-btn.bq{
  background-color: var(--color-accent);
  color: white;
}
.modal .back-btn.big-btn{
  background-color:transparent;
  color: var(--color-gray-dark);
  font-weight: 400;
  font-size: 1rem;
  padding: 0;
}
.donutContainer {
  width:240px;
  height:240px;
  margin: auto;
}


.table-budget .bold-text{
  color: var(--color-primary);
  font-size: 1rem;
  font-weight: 700;
}

.table td, .table th {
  padding-left: 1rem;
  position: relative;
  color: var(--color-gray-dark);
}
table span::after {
  content: "";
  width: 4px;
  height: 21px;
  background: var(--theme-color);
  position: absolute;
  left: 0;
  border-radius: 24%;
}
.table span.text-muted {
  font-size:1em;
}
.table .bold-small-text {
  font-weight: 700;
  color: var(--color-primary);
}
.grid-cols-2 h3{
 margin-top:3rem;
}
.width-50 {
  width: 50%;
  max-width: 100%;
}
.text-body-container {
  margin: 1.5em;
}
.text-body-container h5 {
  margin-bottom: 0.6em;
  color: var(--color-gray-dark);
}
/* bills page */
.black-card img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(96%) saturate(25%) hue-rotate(177deg) brightness(105%) contrast(100%);
  margin-bottom: 3rem;
}
.black-card p, .black-card h1{
  color:var(--color-white);
}

.card .table td.soon:first-child, .table td.soon:last-child, td.soon, .card .table td.soon h4, .card .table td.soon h5 {
  color: var(--color-red);
}
.table td.paid:first-child, .table td.paid:last-child, td.paid {
  color: var(--color-positive);
}
.table td img {
  max-width: 14px;
  margin: 0 0.5rem;
  }

  /* transactions */



.grid-cols-3{
  grid-template-columns: repeat(3, 1fr);
}
.grid-cola-2-1 {
  grid-template-columns: 1fr 2fr;
}
.loader-spinner {
  position: absolute;
  bottom: 20px;
  right: 50%;
  width: 25px;
  height: 25px;
}
.main-content .loader-spinner {
  bottom: 50%;
  right: 50%;
  width: 100px;
  height: 100px;
}
@media (max-width: 768px) {
  .main-content{
    margin-bottom: 5em;
  }
}
@media (max-width: 600px) {
  .modal {
    width: 90%;
  }
  .header button.close-btn {
    right: 1rem;
    top: 2em;
}

}
