/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Optional: centers them vertically */
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .header h1 {
    text-transform: capitalize;
    line-height: 1.2;
  }
  .header button, .modal .big-btn {
   padding: 1.2em;
   line-height: 1.5;
   font-size: var(--font-size-base);
   background-color: var(--color-black);
   color: var(--color-white);
   font-weight: 700;
  }
  header .open_modal {
    max-width: 154px;
  }
  @media (max-width: 600px) {
    .header button {
      padding: 1em 0.5em;
      font-size: 1em;
  }
  }